.mainHome {
  padding-top: 40px;

  section{
    height: 500px;
    padding-top: 150px;
  }
}


@media (max-width: 768px) {
  .mainHome {
    padding-top: 160px;
  }
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1977cc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}

.back-to-top.showBackToTop {
  visibility: visible;
  opacity: 1;
}