// $primary: #45a591ff;

// $theme-colors: (
//   "primary": $primary,
// ) !default;

//primary #0d6efd

@import 'bootstrap/scss/bootstrap.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
