$primary: #1977cc;
$secondary: #ffd54f;
// $gray-light: #F8F9FA;
$danger: #dc3545;
$success: #33d644;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
) !default;

@import 'bootstrap/scss/bootstrap.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

